.container {
    margin: 20px;
    display: inline-block;
    width: 300px;
    border: solid black 3px;
}

.users {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}

.block {
    margin: 0 30px;
}

.button {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
