
.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    initial-letter: normal;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
    font-size: 16px;
    font-weight: bold;
    initial-letter: normal;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
    font-size: 16px;
    font-weight: bold;
    initial-letter: normal;
}