.inputClass {
    height: 30px;
}

.buttonClass {
    margin: 10px;
    background-color: rgba(255, 51, 255, 0.36);
    border-radius: 5px;
}

.numberClass {
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: bold;
}

.errorText {
    position: absolute;
    top: 63px;
    left: 13px;
    font-size: 16px;
    font-weight: bold;
    color: red;

}

.error {
    border: 2px solid red;
    height: 30px;
}

.container {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 10px;
}
